@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

* {
  font-family: "Gabarito";
  box-sizing: border-box;
  margin: 0;
  background-color: #e0dfd5;
}

section * {
  background-color: white;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  min-height: 100vh;
}

#checkBMI {
  border: 3px solid black;
  border-radius: 24px;
  /* margin: 120px 120px; */
  font-size: larger;
  padding: 48px 120px;
  display: grid;
  background-color: white;
  box-shadow: 10px 10px 30px gray;
}

#checkBMI h1,
#checkBMI p {
  text-align: center;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

form label {
  margin-bottom: 12px;
}

form input {
  padding: 12px 12px;
  border: none;
  border: 2px solid gray;
  border-radius: 6px;
  font-size: large;
}

form input:focus {
  outline: none;
  border: 3px solid #ddb967;
}

button {
  margin: auto;
  padding: 16px 32px;
  border-radius: 32px;
  border: none;
  background-color: #ddb967;
  font-size: large;
  margin-bottom: 36px;
  cursor: pointer;
}

#infoBMI {
  border: 3px solid black;
  border-radius: 24px;
  /* margin: 240px 24px; */
  font-size: larger;
  padding: 24px 48px;
  display: grid;
  background-color: white;
  box-shadow: 10px 10px 30px gray;
}

@media (max-width: 768px) {
  body {
    padding: 18px;
  }

  section {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    min-height: calc(100vh - 36px);
  }

  #checkBMI,
  #infoBMI {
    margin: 0;
  }

  #checkBMI {
    padding: 36px 24px;
    font-size: 1rem;
  }

  #infoBMI {
    padding: 24px 36px;
    font-size: 1rem;
  }

  #checkBMI h1,
  #infoBMI h1 {
    font-size: 1.5rem;
  }

  button {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  body {
    padding: 24px 60px;
  }

  section {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    min-height: calc(100vh - 48px);
  }

  #checkBMI,
  #infoBMI {
    margin: 0;
  }

  #checkBMI {
    padding: 36px 24px;
    font-size: 1rem;
  }

  #infoBMI {
    padding: 24px 36px;
    font-size: 1rem;
  }

  #checkBMI h1,
  #infoBMI h1 {
    font-size: 1.5rem;
  }

  button {
    width: 100%;
  }
}
